@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;300;400;600;700&display=swap');

@import "./variables.css";
@import "./animations.css";

body {
  font-family: 'Spartan', sans-serif;
  background-color: var(--body-background-color);
  margin: 0;
}

.logo {
  font-size: 65px;
  font-weight: 100;
  color: var(--animation-font-color);
}

.logo .logo-letter {
  opacity: 0;
}

.logo .logo-letter:nth-child(1) {
  animation: starting-logo-1 5s;
}

.logo .logo-letter:nth-child(2) {
  animation: starting-logo-2 5s;
}

.logo .logo-letter:nth-child(3) {
  animation: starting-logo-3 5s;
}

.logo .logo-letter:nth-child(4) {
  animation: starting-logo-4 5s;
}

.logo .logo-letter-reverse {
  display: inline-block;
  transform: rotate(180deg) translateY(14.5px);
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: starting-overlay 5s;
}

.hidden {
  display: none !important;
}

.welcome {
  animation: starting-welcome 6.5s;
  padding: 0 20px;
}

.welcome-section {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-section-header {
  font-size: 24px;
  text-align: center;
  margin: 30px 0;
  color: var(--animation-font-color);
}

.welcome-paragraph {
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  margin: 30px 0;
}

.welcome-hero-header {
  font-size: 30px;
}

.welcome-hero-header-last {
  font-size: 60px;
  text-align: right;
  color: var(--animation-font-color);
}

.welcome-hero-icon {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 50px;
}

.welcome-hero-icon > svg {
  font-size: 50px;
  animation: icon-welcome 2s infinite;
}

.welcome-icon {
  position: absolute;
  top: 20px;
  right: -115px;
  opacity: .2;
}

.welcome-icon > svg {
  font-size: 300px;
  fill: var(--animation-font-color);
}