.add-task-content {
    background: var(--body-background-color) !important;
    padding-top: 25px !important;
    padding-right: 16px !important;
    padding-left: 16px !important;
}

.add-task-input {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    border: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
    background: none !important;
    font-size: 24px !important;
    color: #666 !important;
    outline: none !important;
    height: 100% !important;
    width: 100% !important;
    resize: none;
}

.add-task-actions {
    background: var(--body-background-color) !important;
    padding: 10px !important;
    box-shadow: 0px -2px 4px -1px rgba(0,0,0,0.2), 0px -4px 5px 0px rgba(0,0,0,0.14), 0px -1px 10px 0px rgba(0,0,0,0.12);
}

.add-task-actions-element {
    color: var(--animation-font-color) !important;
}